.dropdown {
    margin: 20px;
    width: 400px;
}

.dropdown button {
    background: transparent;
    border-style: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 30px;
    margin-bottom: 5px;
    outline: none;
    text-align: start;
    width: 100%;
}

.container {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0;
}

.container input {
    border-style: none;
    border: 1px solid #ccc;
    margin: 5px;
    outline: none;
    padding: 6px 12px;
    width: 97%;
}

.container input::placeholder {
    color: #ccc;
}

.container input:focus {
    border-color: #006F3B;
}

.treeview-container {
    border-top: 1px solid #ccc;
    max-height: 400px;
    overflow-y: auto;
    padding: 0;
}

.container span.not-found{
    margin: 10px;
}